.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $primary-light-color;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-img {
    width: 150px;
    height: 46px;
  }

  &__box {
    @include desktop-large {
      display: flex;
      align-items: center;
    }
    @include desktop-small {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      z-index: 2;
      background-color: #fff;
      align-items: center;
      justify-content: center;
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @include desktop-small {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }
  }

  &__item {
    cursor: pointer;
  }
  &__link {
    margin-right: 10px;
    color: $primary-dark-color;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 15px;
    border-radius: 20px;
    transition: border 0.3s, color 0.3s;

    @include desktop-large {
      background: $primary-light-color;
      border: 5px solid $primary-light-color;
    }
    @include desktop-small {
      font-size: 28px;
    }
    &:hover {
      border: 5px solid $green-color;
      color: $green-color;
    }
  }

  &__btn {
    color: $primary-light-color;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border-radius: 15px 0px;
    background-color: $btn-bg-color;
    width: 95px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop-small {
      font-size: 28px;
      width: 200px;
      height: 65px;
      margin: 0 auto;
    }
  }

  &__progress-container {
    width: 100%;
    height: 5px;
    background: $line-color;
    position: absolute;
    bottom: 0;
  }

  &__progress-bar {
    height: 5px;
    background: $green-color;
    width: 0%;
  }
}

.nav__cross,
.nav__burger {
  display: none;
  @include desktop-small {
    display: block;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 25px;
  }
}

.nav__cross {
  display: none;
}

@include desktop-large {
  .nav__cross,
  .nav__burger {
    display: none;
  }
}

.show-btn {
  display: block;
}

.hide-btn {
  display: none;
}
