.hero {
  padding-top: 100px;
  padding-bottom: 100px;

  &__container {
    @include desktop-large {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include desktop-small {
      flex-wrap: wrap;
    }
  }

  &__box-text {
    max-width: 621px;
    margin-right: 10px;
    @include desktop-small {
      margin-bottom: 50px;
    }
  }

  &__pretitle {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
  }

  &__title {
    color: $primary-dark-color;
    font-family: $secondary-font;
    font-size: 72px;
    font-weight: 600;
    line-height: 1.08;
    margin-bottom: 25px;
  }

  &__desc {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 50px;
  }
  &__btn {
    @include button($primary-light-color, $green-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 4.33;
    width: 146px;
    height: 47px;
  }

  &__box-image {
    position: relative;
    display: inline-block;

    &::after {
      @include after-border;
      top: 5%;
      left: 5%;
    }
  }

  &__img {
    width: 703px;
    border-radius: 140px 0px;
  }
}
