$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$input-font: 'Raleway', sans-serif;
$basic-font: 'Basic Sans', sans-serif;

$primary-light-color: #fff;
$primary-color: #646464;
$primary-dark-color: #212121;
$green-color: #37806b;
$icon-bg-color: #d5d5d5;
$btn-bg-color: #caa892;
$secondary_bg-color: #f8f8f8;
$dark-color: #111;
$input-bg-color: #eee;
$line-color: #c4c4c4;
